<section class="py-5 contact bg-navy" >
  <div class="container">
    <div class="padding center">
      <h1>Contact</h1>
      <table class="center-item">
        <tbody class="contact-table">
          <tr>
            <td><i class="fas fa-phone fa-1x"></i></td>
            <td>123-456-7890</td>
          </tr>
          <tr>
            <td><i class="fas fa-envelope fa-1x"></i></td>
            <td>email@email.com</td>
          </tr>
          <tr>
            <td><i class="fab fa-twitter fa-1x"></i></td>
            <td>@username</td>
          </tr>
        </tbody>
      </table>
    </div>
</section>
