<section class="py-5">
  <div id="entities" class="row">
 {% assign services = site.services | sort: 'position' 'last' %}
      <div class="col-sm-6 order-sm-1 bg-navy">
        <div class="bg-image-full ca center" style="background-image: url(.{{ services[0].background-image}});">
          <img src="images/M2-Mark_BW.jpg" class="center-item depth-1" alt="">
        </div>
      </div>
      <div class="col-sm-6 order-sm-2 p-5 flex-row bg-navy">
        <div class="flex-item">
          <h3>{{ services[0].title }}</h3>
          <p>{{ site.services[0] }}</p>
          <a href="" class="btn btn-dark">click</a>
        </div>
      </div>
    
      <div class="col-sm-6 order-sm-4">
        <div class="bg-image-full ca right" style="background-image: url('images/wall_street_1920.jpg');">
          <img src="{{services[1].logo}}" class="center-item depth-1" alt="">
        </div>
      </div>
      <div class="col-sm-6 order-sm-3 p-5 flex-row">
        <div class="flex-item">
          <h3>{{ services[1].title }}</h3>
          <p>{{ services[1] }}.</p>
          <a href="" class="btn btn-dark">click</a>
        </div>
      </div>
    
      <div class="col-sm-6 order-sm-5 bg-navy">
        <div class="bg-image-full ca" style="background-image: url({{services[2].background-image}});">
          <img src="{{services[2].logo}}" class="center-item" alt="">
        </div>
      </div>
      <div class="col-sm-6 order-sm-6 p-5 flex-row bg-navy">
            <div class="flex-item">
              <h3>{{ services[2].title }}</h3>
              <p>{{ services[2] }}</p>
              <a href="" class="btn btn-dark">click</a>
            </div>
      </div>
  </div>
  
</section>