<!-- Footer -->
<footer>
  <div class="container">
    <!-- <table>
      <tbody>
        <tr>
          <td><i class="fas fa-phone"></i> </td>
          <td>123-456-7890</td>
        </tr>
        <tr>
          <td><i class="fas fa-envelope"></i> </td>
          <td>email@email.com</td>
        </tr>
        <tr>
          <td><i class="fab fa-twitter"></i> </td>
          <td>email@email.com</td>
        </tr>
      </tbody>
    </table> -->
    <p class="m-0 text-center text-black">Copyright &copy; M2 Stewardship Group 2017</p>
  </div>
  <!-- /.container -->
</footer>
