<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ site.title }}</title>

  <!-- Bootstrap core CSS -->

  <link href="{{ '/vendor/bootstrap/css/bootstrap.min.css' | prepend: site.url }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  {% if page.title == "M2SG"%}
  <link href="{{ '/css/m2sg.css' | prepend: site.url }}" rel="stylesheet">
  {% else %}
  <link href="{{ '/css/capitol-advisors.css' | prepend: site.url }}" rel="stylesheet">
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

</head>
