<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('images/seal.png');">
  <img class="img-fluid d-block mx-auto" src="images/M2-Mark_BW.jpg" alt="" width="150px"><br>
  <div class="container">
    <div class="padding">
      <h1>Our Services</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
  </div>
</header>
