<!-- Navigation -->
<nav
  class="navbar navbar-expand-lg navbar-light bg-white fixed-top depth-1"
  style="flex-direction: column;"
>
  <div class="row">
    <a class="navbar-brand" href="/">
      <img src="images/M2_LogoFinal-03.png" alt="" width="60px" />
      Stewardship Group
    </a>
  </div>
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarResponsive"
      style="justify-content: center;"
    >
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/"
            >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/our-approach">Our Approach</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/our-services">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/strategic-partners">Strategic Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Client Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
