<section class="py-5">
  <div class="container">
    <h1>Who we are</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora et harum id ad laboriosam corporis ab doloribus maiores dicta minima! Temporibus voluptatum illo eos! Ab delectus magnam neque unde saepe!</p>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <h1 class="center">Our Services</h1>
    <div class="row flex-row flex-evenly center">
      {% assign services = site.services | sort: 'position' 'last' %}
      {% for service in services %}
    <div class="title-card m2 depth-1" style="background-image: url({{ service.background-image }})">
      <img src="{{service.logo}}" alt="" width="100px">
      <h3>{{service.title}}</h3>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
