<style>
  .title-card {
    position: relative;
  }
  .title-card:hover .overlay {
    height: 100%;
  }
</style>

<section class="py-5">
  <div class="container">
    <h2>History, principles, mission, vision, etc</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, laborum placeat similique et pariatur non eum qui nulla cumque repellat necessitatibus voluptatem quasi cum? Excepturi blanditiis consequatur non perspiciatis quam!
    {{ page.who-we-are-body | markdownify }}
  </div>
</section>
<section class="py-5">
  <div class="container">
    <h1 class="center">Our Services</h1>
    <div class="row flex-row flex-evenly center">
      {% assign services = site.services | sort: 'position' 'last' %}
      {% for service in services %}
    <div class="title-card m2 depth-1" style="background-image: url(.{{ service.background-image }})">
      <div class="image-conatiner">
        <img src=".{{service.logo}}" alt="" width="100px">
        <h3>{{service.title}}</h3>
      </div>
      <div class="overlay">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eligendi consequatur dicta blanditiis porro dolore quas ullam vitae dolor laboriosam veniam aperiam cumque, perspiciatis amet nemo tenetur illum illo laudantium!
        </p>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
