<!-- Content section -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="service">
          <h2>Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero doloribus aspernatur error dignissimos, praesentium obcaecati ipsam illum odit quae sapiente cum dicta assumenda repudiandae tempora pariatur deleniti sed enim tempore!</p>
          <div class="overlay">
            <a href="{{'/capitaladvisors' | prepend: site.url }}">
              <div class="text">
                <img src="images/M2-Logo_BW.jpg" alt="" width="100%">
              </div>
            </a>

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service">
          <h2>Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero doloribus aspernatur error dignissimos, praesentium obcaecati ipsam illum odit quae sapiente cum dicta assumenda repudiandae tempora pariatur deleniti sed enim tempore!</p>
          <div class="overlay">
            <div class="text">
              <img src="images/M2-Logo_BW.jpg" alt="" width="100%">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service">
          <h2>Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero doloribus aspernatur error dignissimos, praesentium obcaecati ipsam illum odit quae sapiente cum dicta assumenda repudiandae tempora pariatur deleniti sed enim tempore!</p>
          <div class="overlay">
            <div class="text">
              <img src="images/M2-Logo_BW.jpg" alt="" width="100%">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service">
          <h2>Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero doloribus aspernatur error dignissimos, praesentium obcaecati ipsam illum odit quae sapiente cum dicta assumenda repudiandae tempora pariatur deleniti sed enim tempore!</p>
          <div class="overlay">
            <div class="text">
              <img src="images/M2-Logo_BW.jpg" alt="" width="100%">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service">
          <h2>Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero doloribus aspernatur error dignissimos, praesentium obcaecati ipsam illum odit quae sapiente cum dicta assumenda repudiandae tempora pariatur deleniti sed enim tempore!</p>
          <div class="overlay">
            <div class="text">
              <img src="images/M2-Logo_BW.jpg" alt="" width="100%">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service">
          <h2>Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero doloribus aspernatur error dignissimos, praesentium obcaecati ipsam illum odit quae sapiente cum dicta assumenda repudiandae tempora pariatur deleniti sed enim tempore!</p>
          <div class="overlay">
            <div class="text">
              <img src="images/M2-Logo_BW.jpg" alt="" width="100%">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service">
          <h2>Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero doloribus aspernatur error dignissimos, praesentium obcaecati ipsam illum odit quae sapiente cum dicta assumenda repudiandae tempora pariatur deleniti sed enim tempore!</p>
          <div class="overlay">
            <div class="text">
              <img src="images/M2-Logo_BW.jpg" alt="" width="100%">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service">
          <h2>Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero doloribus aspernatur error dignissimos, praesentium obcaecati ipsam illum odit quae sapiente cum dicta assumenda repudiandae tempora pariatur deleniti sed enim tempore!</p>
          <div class="overlay">
            <div class="text">
              <img src="images/M2-Logo_BW.jpg" alt="" width="100%">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
