

.btn {
  transition: background .2s ease-in, color .2s ease-in, transform .2s ease-out;
  

  &:hover {
    background: white;
    color: $navy;
    transform: scale(1.1);
    
  }
}

@keyframes test {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200px);
  }
}