.flex-row {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-evenly {
  justify-content: space-evenly;
}

.title-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: 0 350px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.26);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  color: whitesmoke;
  margin: 20px 0 20px 0;
  padding: 10px 20px 10px 20px;

  &.m2 {
    background-image: url(https://source.unsplash.com/0h4LzK9uwAE/);
  }

  &.easi {
    background-image: url(https://source.unsplash.com/6Y6OnwBKk-o/);
  }

  &.power {
    background-image: url(https://source.unsplash.com/KpLOaBKmk00/);
  }

  &:hover {
    background-color: lighten(rgba(0, 0, 0, 0.26), 30%);
  }


  h3 {
    color: white;
  }

  img {
    margin-bottom: 5px;
  }
}

.depth-1 {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.train {
  background-image: url('/uploads/halfdome.jpeg');
  background-position: center;
  // background-blend-mode: darken;
  background-color: #11111182;
  color: white;
  display: flex;
  justify-content: center;
  padding: 80px 0px;
  min-height: 400px;
  .logo {
    background: #fff;
    border-radius: 20px;
    padding: 5px 10px;
  }
}
