---
layout: default
---

<div class="container">
  <div class="py-5">
    <h1 class="center">{{page.title}}</h1>
    <div class="row">
      <div class="col s12">
        {{content}}
      </div>
    </div>
  </div>
  <div class="py-3">
    <h1 class="center">Expertise</h1>
    <div class="row">
      <div class="col s12">
        {{page.expertise-body | markdownify}}
      </div>
    </div>
  </div>

  <div class="py-3">
    <h1 class="center">Types of investing</h1>
    <div class="row">
      <div class="col s12">
        {{page.types-of-investing-body | markdownify}}
      </div>
    </div>
  </div>

  <div class="py-3">
    <h1 class="center">Services</h1>
    <div class="row">
      <div class="col s12">
        {{page.services-body | markdownify}}
      </div>
    </div>
  </div>

  <div class="py-3">
    <h1 class="center">Clientele</h1>
    <div class="row">
      <div class="col s12">
        {{page.clientele-body | markdownify}}
      </div>
    </div>
  </div>
</div>
