<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body>

    {% include nav.html %}

    {% include header.html %}

    {% include services.html %}

    <!-- Image Section - set the background image for the header in the line below -->
    <!-- <section class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/G0CAq5y7cd0/1920x1080');"> -->
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <!-- <div style="height: 200px;"></div>
    </section> -->

    <!-- Content section -->
    <!-- <section class="py-5">
      <div class="container">

      </div>
    </section> -->

    {% include footer.html %}

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
