---
layout: default
---

<div class="container">
  <div class="py-5">
    <h1 class="center">{{page.title}}</h1>
    <div class="row">
      <div class="col s12">
        {{content}}
      </div>
    </div>
  </div>
  <div class="py-3">
    <h1 class="center">Definition</h1>
    <div class="row">
      <div class="col s12">
        {{page.definition-body | markdownify}}
      </div>
    </div>
  </div>

  <div class="py-3">
    <h1 class="center">Fiduciary</h1>
    <div class="row">
      <div class="col s12">
        {{page.fiduciary-body | markdownify}}
      </div>
    </div>
  </div>

  <div class="py-3">
    <h1 class="center">Accountability</h1>
    <div class="row">
      <div class="col s12">
        {{page.accountability-body | markdownify}}
      </div>
    </div>
  </div>

  <div class="py-3">
    <h1 class="center">Principals</h1>
    <div class="row">
      <div class="col s12">
        {{page.pricipals-body | markdownify}}
      </div>
    </div>
  </div>
</div>
